<% provide(:title, "Sign Up") %>
<h1 class = "signup_head">Sign up</h1>

<%= form_for(@user) do |f| %>

  <%= render "form", f: f %>  

  <center><%= f.submit "Create account", class: "btn btn-large btn-primary" %></center>

<% end %>
