<% provide(:title, "About") %>
<h1 id="about_head">MBlizz V1.0</h1>
<h6 id="about_tagline">A venture of Mania Technologies</h6>
<div class="my-content">
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMBlizz is one of the ventures of Mania Technologies which is a dream project of its founders. There is only one aim to Mania and that is to stand on the top of the world of Computing.</p>
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMBlizz is an idea developed in the mind of a group of students who was supposed to do their Mini-Project necessary for the completion of the sixth semester of Bachelor's degree in computer science and engineering. The group decided to learn a new programming language which is perfect for web development. Thus they ended up with Ruby on Rails or simply Rails. Then they searched for a nice tutorial to learn about ruby and rails. After getting a base in Ruby, they moved to Rails without further ado.</p>
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhile looking for a guide or tutorial in Rails they saw "Michael Hartl's - Ruby on Rails Tutorial". They decided to use that as a base to build this project. They completed the tutorial and even applied some of their own ideas and ended with MBlizz. Basically MBlizz is the same thing that you learn to build in the 'Rails tutorial' of 'Michael Hartl' with some extra touches.</p>
  <p id="about_thanks">Thanks for visiting MBlizz.</p>
</div>
