<% provide(:title, 'MBlizz') %>
<div id="myhome">
  <% if signed_in? %>
    <div class = "row">
      <aside class = "span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
      </aside>
      <section id = "microform">
        <%= render 'shared/micropost_form' %>
      </section>
      <div>
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  <% else %>
    <div class = "center hero-unit">
      <h1 id = "welcome">Welcome to MBlizz</h1> 
    </div>
  <% end %>
</div>
