<% provide(:title, "Team") %>
<h1 id="about_head">Our Team</h1>
<hr>
<div class="my-content">
  <div class="smp">
    <p>
      <%= image_tag("DSCN0575.JPG", class: "align-right myimage", alt: "DSCN0575", width: "200", height: "200") %>
    </p>
    <p style="text-align: justify;">
      Hi, I am Sajin M Prasad, a final year student pursuing a Bachelor's degree in Computer Science and Engineering. 
      I am from Kerala, the place called God's own country.
    </p>
    <p style="text-align: justify;">
      I am very much interested in technology. I love programming, reading, travelling - especially night rides.
    </p>
    <p style="text-align: justify;">
      In a case where you have to contact me, you just have to drop a mail at sajinprasadkm@gmail.com.
    </p>
  </div>
  
  <br>
   
  <div class="smp">
    <p>
      <%= image_tag("DSC00230.JPG", class: "align-right myimage", alt: "DSC00230", width: "200", height: "200") %>
    </p>
    <p style="text-align: justify;">
      Hello there, I am Ajil Reji Issac and I am also a final year student pursuing a Bachelor's degree in Computer Science and Engineering. 
      I am also from Kerala, the very beatiful land of the god.
    </p>
    <p style="text-align: justify;">
      I am a driving enthusiast. I also do some Keyboard(Piano). At other times I watch movies and listen to music.
    </p>
    <p style="text-align: justify;">
      In a case where you have to contact me, you just have to drop a mail at ajilrejiissac@gmail.com.
    </p>
  </div>
  
  <br>
  
  <div class="smp">
    <p>
      <%= image_tag("DSC00128.JPG", class: "align-right myimage", alt: "DSC00128", width: "200", height: "200") %>
    </p>
    <p style="text-align: justify;">
      Hey, I am Samsraj R, another final year student pursuing a Bachelor's degree in Computer Science and Engineering. 
      I am from Karunagappilly in the Kollam district of Kerala.
    </p>
    <p style="text-align: justify;">
      I have a camera and like to click it the entire day. I also do some designing and stuff.
    </p>
    <p style="text-align: justify;">
      If you want to contact me I guess you could forward a mail to samsraj555@gmail.com.
    </p>
  </div>
  
  <br>

</div>
