// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* forms */

input, text_area, .uneditable-input {
  border: 1px dotted #bbb;
  padding: 10px;
  margin-bottom: 15px;
}

.text-field {
  width: 50%;
}

select  {
  border: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

label {
  padding-right: 20px;
  font-size: 20px;
}

.left {
  padding-right: 60px;
}

#password_confirm {
  padding-right: 2px;
}

#state  {
  padding-right: 62px;
}

#country  {
  padding-right: 28px;
}

.signup_head  {
  font-size: 50px;
  color: #927655;
  text-align: center;
}
