<header>
  <%= link_to image_tag("logo.png", :alt => "MBlizz", :class => "round"), root_path %>
  <nav class = "round">
    <ul>
      <li><%= link_to 'Sign Up', signup_path %></li>
    </ul>
</header>
